.cardpadre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  color: #000;
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.links {
  text-decoration: none;
}

.links:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
